/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/* ESTILOS DE NAVEGAÇÃO */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
#nav-h{
    list-style: none;
    padding: 0;
    background-color: black;
}

#nav-h li{
    display: inline;
}
#nav-h li a{
    color: #00ff43;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
#nav-h li a:hover{
    color: black;
    background-color: #00ff43;
}
#nav-h li img{
    padding-left: 15px;
    padding-top: 10px;
    border: 0;
    width: 190px;
}

/* Banner Página Principal */

#bannerprincipal{
    width: 2000px;
    height: 600px;
    background-image: url(imgs/BannerPagPrincipal.png);
}
#textobanner{
    padding-top: 150px;
    padding-left: 150px;
}
#textobanner h1{
    font-size: 70px;
}
#botbanner{
    color: white;
    background-color: black;
    border: 1.7px #00ff43 solid;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
#botbanner:hover{
    color: black;
    border: none;
    background: #00ff43;
    
}
/* Banner2 */
#banner2{
    padding-top: 150px;
    padding-left: 150px;
    background-size: cover;
    width: 2000px;
    height: 600px;
    background-image: url(imgs/Banner2.png);
    color: white;
}
#banner2 hr{
    margin: 0 auto 0 0;
    text-align: left;
    height: 4px;
    width: 5%;
    background-color: white;
}
#banner2 h1{
    display: inline;
    font-size: 70px;
}
#banner2 p{
    font-size: 20px;
}
.txtverde{
    color: #00ff43;
}