/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* ESTILOS DE NAVEGAÇÃO */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#nav-h{
    list-style: none;
    padding: 0;
    background-color: black;
}

#nav-h li{
    display: inline;
}
#nav-h li a{
    color: #00ff43;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
#nav-h li a:hover{
    color: black;
    background-color: #00ff43;
}
#nav-h li img{
    padding-left: 15px;
    padding-top: 10px;
    border: 0;
    width: 190px;
}