/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* ESTILOS GERAIS */

.topic-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.txtverde {
    color: #00ff43;
}



/* ESTILOS DE NAVEGAÇÃO */
body {
    background-color: black;
}

* {
    color: white;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

#nav-h {
    list-style: none;
    padding: 0;
    background-color: black;
}

#nav-h li {
    display: inline;
}

#nav-h li a {
    color: #00ff43;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

#nav-h li a:hover {
    color: black;
    background-color: #00ff43;
}

#nav-h li img {
    padding-left: 15px;
    padding-top: 10px;
    border: 0;
    width: 190px;
    cursor: pointer;
}

/* Banner Página Principal */

#bannerprincipal {
    width: 100%;
    height: 600px;
    background-image: url(../imgs/BannerPagPrincipal.png);
}

#textobanner {
    padding-top: 150px;
    padding-left: 150px;
}

#textobanner h1 {
    font-size: 70px;
}

#botbanner {
    color: white;
    background-color: black;
    border: 1.7px #00ff43 solid;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#botbanner:hover {
    color: black;
    border: none;
    background: #00ff43;

}

/* Banner2 */
.banner-container {
    display: flex;
    align-items: center;
}

#banner2 {
    padding: 150px;
    background-size: cover;
    width: 50%;
    color: white;
}

#banner2 hr {
    margin: 0 auto 0 0;
    text-align: left;
    height: 4px;
    width: 5%;
    background-color: white;
}

#banner2 h1 {
    display: inline;
    font-size: 70px;
}

#banner2 p {
    font-size: 20px;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-container img {
    margin-right: 280px;
    width: 100%;
    max-width: 400px;
    /* Ajuste o tamanho da imagem conforme necessário */
}

/* Banner 3 */
.banner-container3 {
    padding: 150px;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image-container3 {
    margin-left: 130px;
    flex: 1;
    text-align: left;
}

.image-container3 img {
    width: 100%;
    max-width: 400px;
    /* Ajuste o tamanho da imagem conforme necessário */
}

#banner3 {
    color: white;
    text-align: left;
}

#banner3 p {
    margin-right: 210px;
    font-size: 20px;
}

#banner3 h1 {
    font-size: 70px;
}

/* FOOTER */

.footerhr {
    margin: 0 auto 0 0;
    height: 4px;
    background-color: white;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 85%;
}

.footer-container {
    margin: 0 auto;
    text-align: center;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 200px;
    /* Ajuste o tamanho da logo conforme necessário */
}

.footer-topics h3 {
    margin-bottom: 10px;
}

.footer-topics ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-topics li {
    margin-bottom: 5px;
}

.footer-topics a {
    text-decoration: none;
    color: white;
}
.footer-topics a:hover{
    color: #00ff43;
}

.footer-bottom {
    font-size: 14px;
    color: #999;
}